html {
  direction: rtl;
}

.app {
  background: #171616;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-contianer {
  width: 100vw;
}

.card{
  display: flex;
  
  flex: 1;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(45, 29, 29, 0.5);
}